.appbar-imitator {
  height: 64px;
}
#navbar-links-wrapper {
  display: none;
  justify-content: space-between;
  align-items: center;
  height: 52px;

  color: white;
  font-size: 22px;
}
#navbar-links-wrapper h2 {
  margin: 0 8px;
  font-weight: 300;
  font-size: 18px;
  font-family: Roboto, sans-serif;
  color: white;
}
a {
  text-decoration: none;
}
/* .burger-container {
  padding-right: 8px;
} */

@media (min-width: 876px) {
  .hamburger-wrapper {
    display: none;
  }
  #navbar-links-wrapper {
    display: flex;
  }
}
