.map-container {
  height: 350px;
  width: 295px;
  margin-bottom: 10px;
}
.map-element {
  /* ALLOWS SPACE BETWEEN MAP TITLE AND TOGGLE BUTTON */
  height: 90%;
}
.map-and-button {
  margin: 50px 0 50px 0;
  /* width: 400px; */
}

.geolocations-loading {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.google-map-header {
  text-align: center;
  margin-top: 5px;
}
@media (min-width: 375px) {
  .map-container {
    width: 350px;
  }
}
@media (min-width: 425px) {
  .map-container {
    width: 400px;
  }
}
@media (min-width: 768px) {
  .map-container {
    width: 600px;
    height: 500px;
  }
}
