.intro-q-container {
  border: 1px black solid;
  height: calc(100vh - 64px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 75px;
}
.intro-question {
  background: #3c8dbc;
  width: 255px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  color: white;
  font-size: 22px;
  font-family: Roboto, sans-serif;
  letter-spacing: 1.5px;
}
.intro-question p {
  position: relative;
  left: 7%;
  font-weight: 300;
}
.message-wing {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: relative;
  top: 14%;
  left: 16%;
  box-shadow: 10px -10px 0px -4px #3c8dbc inset;
}
.pulsing {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  /* background: rgba(51, 51, 51, 0.4); */
  animation: pulsating 1.8s infinite;
  box-shadow: 0px 0px 0px 0px rgba(51, 51, 51, 0.4);
  position: relative;
  left: 16.5px;
  bottom: 5px;
}

@keyframes pulsating {
  0% {
    box-shadow: 0 0 0 0 rgba(51, 51, 51, 0.4);
  }
  70% {
    box-shadow: 0px 0px 0px 15px rgba(51, 51, 51, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(51, 51, 51, 0);
  }
}
