@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.blink-me {
  animation: blinker 1.5s infinite;
  font-size: 8px;
}
.user-name-container {
  color: white;
  font-weight: 400;
}
.about-title {
  display: none;
}
@media (min-width: 425px) {
  .about-title {
    display: block;
  }
}
