@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.blink-me {
  animation: blinker 1.5s infinite;
  font-size: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
}
.user-name-container {
  color: white;
  font-weight: 400;
}
.about-title {
  display: none;
}
@media (min-width: 425px) {
  .about-title {
    display: block;
  }
}
.error-catch {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  box-sizing: border-box;
  padding: 0 20px;
  text-align: center;
  font-weight: 900;
}
